body {
  background-color: #333;
  margin: 0;
  font-family: 'Josefin Slab', serif;
}

h1 {
  margin: 0;
  color: white;
  text-align: center;
  background-color: steelblue;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  padding: 15px 0;
}

#rgbDisplay {
  font-size: 175%;
}

#platform {
  max-width: 600px;
  margin: 20px auto;
}

.square {
  background-color: orange;
  width: 23%;
  padding-top: 23%;
  float: left;
  margin: 1%;
  border-radius: 10%;
  transition: background .3s;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
}

button, section {
  display: inline-block;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  height: 100%;
  color: steelblue;
  letter-spacing: 1px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

button:hover, .difficultySelected {
  background-color: steelblue;
  color: white;
}

#message {
  display: inline-block;
  width: 20%;
  font-size: 22px;
}

nav {
  height: 30px;
  text-align: center;
  background-color: white;
  color: black;
}