body {
  background-color: #333;
  margin: 0;
  font-family: 'Josefin Slab', serif;
}

h1 {
  margin: 0;
  color: white;
  text-align: center;
  background-color: steelblue;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  padding: 20px 0;
}

#rgbDisplay {
  font-size: 200%;
}

#platform {
  max-width: 600px;
  margin: 0 auto;
}

.square {
  background-color: orange;
  width: 23%;
  padding-top: 23%;
  float: left;
  margin: 1%;
}

nav {
  height: 30px;
  text-align: center;
  background-color: white;
  color: black;
  padding-left: 15%;
  padding-right: 15%;
}

#difficulty {
  float: right;
}

#reset {
  float: left;
}

.difficultySelected {
  background-color: blue;
}